@import "./variables";

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a {
    background: $primary;
    &:hover {
        background-color:  $primary-hover;
    }
}

nav li a {
    transition: $smooth;
    &:hover {
        color: $primary;
    }
}

section.hero {
    background-color: $gray;
}

.size {
    background-color: $secondary;
}
.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $primary;
        color: white;
        border-color: white;
    }
}

.btn-primary {
    background-color: $primary;
    transition: $smooth;

    &:hover {
        background-color: $primary-hover;
    }
}
section.cart {
    background-color: rgb(218, 218, 218);
    .amount {
        color: $primary;
    }
}
section.login {
    background-color: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}